{% include "NeptuneVsAgendaBundle:Membre:showEventDateAndPlace.html.twig" with {'event': event, 'place': place} %}
<div class="well">
    {% include "NeptuneVsAgendaBundle:Membre:formEventUserCours.html.twig" with {'form': formCours} %}
    <div class="well" style="margin-top: 20px;">
        <table class="table table-bordered table-condensed">
            <caption class="badge badge-inverse">Liste des inscrits</caption>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                </tr>
            </thead>
            <tbody>
            {% for userevent in event.getUsersevent() %}                        
                <tr>
                    <td>userevent.getUser().getNom()</td>
                    <td>userevent.getUser().getPrenom()</td>
                </tr>
            {% else %}
                 <tr>
                     <td colspan="2" style="text-align: center;">Aucun</td>
                </tr>
            {% endfor%}
            </tbody>
        </table>
    </div>
</div>
