{% include "NeptuneVsAgendaBundle:Membre:showEventDateAndPlace.html.twig" with {'event': event, 'place': place} %}
<div class="well well-small">
    <div class="tabbable">
        <ul class="nav nav-tabs">          
            {% if formScaphandre%}
                <li class="active"><a href="#tabScaphandre" data-toggle="tab">Inscription Scaphandre</a></li>
            {% endif %}
            {% if formApnee%}
                <li class="{{not formScaphandre?'active':''}}"><a href="#tabApnee" data-toggle="tab">Inscription Apnée</a></li>
            {% endif %}                     
        </ul>
        <div class="tab-content">
            {% if formScaphandre%}
                <div class="tab-pane active" id="tabScaphandre">                   
                    <div style="height: 160px;">
                        {% include "NeptuneVsAgendaBundle:Membre:formEventUserPiscine.html.twig" with {'form': formScaphandre, 'type': 'scaphandre'} %}
                    </div>              
                    <div class="well" style="margin-top: 20px;">
                        {% include "NeptuneVsAgendaBundle:Membre:showEventUsersList.html.twig" with {'event': event} %}             
                    </div>
                </div>
            {% endif %} 
            {% if formApnee%}
                <div class="tab-pane {{not formScaphandre?'active':''}}" id="tabApnee">                   
                    <div style="height: 160px;">
                        {% include "NeptuneVsAgendaBundle:Membre:formEventUserPiscine.html.twig" with {'form': formApnee, 'type': 'apnee'} %}
                    </div>
                    <div class="well" style="margin-top: 20px;">
                        {% include "NeptuneVsAgendaBundle:Membre:showEventUsersList.html.twig" with {'event': event} %}   
                    </div>
                </div>
            {% endif %}                
        </div>
    </div>  
</div>