{% extends "::base.html.twig" %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}
{% block content %}
<div class="ContCenterBe">
    <div class="ContContenBe">&nbsp;<div style="padding-left:10px;padding-right:10px;text-align:center;font-weight:bold;"> 
            <span style="color:red;font-size:14px;">Message aux adhérents !</span><br><br>  Vous devez vous inscrire via la page "Connexion" du menu "Autres" pour accéder à la partie interne<br>Cliquez sur "Je suis Membre du Club et je n'ai Pas de Compte !" pour lancer l'inscription !<br>Vous devrez patienter le temps de la validation de votre compte. </div><br><br><br>
        <div style="widht:584px;margin:auto;text-align:center;border:2px;">
            <span style="font-weight:bold;font-size:14px;">Vidéo de présentation</span><br><br>

            <object width="480" height="405" type="application/x-shockwave-flash" data="http://www.dailymotion.com/swf/x1igvq_neptune-plongee_sport&amp;colors=special:C4990C;&amp;related=0">
                <param name="movie" value="http://www.dailymotion.com/swf/x1igvq_neptune-plongee_sport&amp;colors=special:C4990C;&amp;related=0">
                <param name="wmode" value="transparent">
                <p>Vidéo De présentation</p>
            </object>
        </div></div>
</div>
{% endblock %}