{% extends "::base.html.twig" %}

{% block title %}
    {{ parent() }} - Mot de passe perdu
{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('NeptuneVsMainBundle_homepage') }}">Accueil</a> <span class="divider">/</span></li>
        <li class="active">Nouveau Mot de Passe</li>
    </ul>
    <div class="well" style="margin: 20px;"> 
        <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
    </div>
{% endblock %}
