.contTarif {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-style: normal;
    text-align: justify;
    margin-left:10px;
    margin-right:10px;
    margin-top:0px;
}
.titreTarif{
    float:left;
    font-weight:bold;
    font-size:17px;
    padding-top:13px;
}
.contTarifP{
    clear:both;
    margin-left:10px;
}
.contImgTarif{
    float:left; 
    padding-right:10px;
}
.contTitreTarif{
    height:36px;
}
.contTextTarif{
    padding-left: 10px;
}